<div style="height: 1000px;">
    <!-- just to make scrolling effect possible -->
    <div class="wrapperhead" style="padding-top: 50px;">
        <div class="wrapper">
            <p class="uploadlabel" style='margin-bottom:20px; text-align: center; color: blue; font-size: 30px;'>You Can Upload File, Click On The Below Button</p>
            <div class="text-center">
                <input type="file" id="file" (change)="selectFile($event)" />
                <label for="file" class="btn-1">Select Files</label>

                <button class="btn-2" [disabled]="!selectedFiles" (click)="upload()">Upload Files</button>
            </div>
            <app-list-upload></app-list-upload>
        </div>

    </div>
</div>

<!-- Jquery needed -->



<!-- Function used to shrink nav bar removing paddings and adding black background -->
