<div *ngIf="!fileUpload.name.endsWith('/') && fileUpload.name.split('/').length==level+1" class="jumbotron">
    <a href="{{fileUpload.url}}">{{fileUpload.name}}</a><br/><br/>
    <button (click)="copyText(fileUpload.url)" style="margin-right: 5px;"  class="btn btn-success">Share link</button>
    <button (click)="generateQR(fileUpload.url)" style="margin-right: 5px;"  class="btn btn-success">Share via QR-code</button>
    <button (click)='delete(fileUpload)' class="btn btn-danger">Delete</button>
    <div *ngIf="qr_flag" id="qr">
        
        <ngx-qrcode qrc-element-type="url" [qrc-value]="qr_url" ></ngx-qrcode>
    </div>
</div>	
