<div style="margin-left: 10px;" *ngIf="(!fileUpload.name.endsWith('/') && fileUpload.name.startsWith(parent)) && (shared || fileUpload.name.split('/').length==level+1)">
    <div class="dropdown text-center">
        <div class="file">
            <img src="../../assets/pictures/file.png" style="width: 40px;height: 45px;"><br/>
            <a href="{{fileUpload.url}}">{{fileUpload.name}}</a>
        </div>
        <div class="dropdown-content">
            <button (click)="copyText(fileUpload.url)" *ngIf="!qr_flag" style="width: 100%;">Share link</button>
            <button (click)="generateQR(fileUpload.url)" *ngIf="!qr_flag" style="width: 100%;">Share via QR-code</button>
            <button *ngIf="!shared" (click)='delete(fileUpload)' style="width: 100%;">Delete</button>
            <button *ngIf="!qr_flag" style="width:100%">{{fileUpload.size / 1000}} KB</button>
            <button *ngIf="qr_flag" (click)="toggleQrFlag()" style="float: left;" class="close" aria-label="Close">

          <span aria-hidden="true" style="color: red;">&times;</span>
        </button>
            <div *ngIf="qr_flag" id="qr">

                <ngx-qrcode qrc-element-type="url" [qrc-value]="qr_url"></ngx-qrcode>

            </div>
        </div>
    </div>
</div>
