.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
    border: 0;
}

.dropdown-content button:hover {
    background-color: #d8e5f3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.file:hover {
    background: #d8e5f3;
}
