<div style="width:370px;background-color:#ccebff; border-radius: 1rem;" *ngIf="!fileUpload.name.endsWith('/') && fileUpload.name.startsWith(parent) && fileUpload.name.split('/').length==level+1" class="jumbotron">
    <!--First,third condition for files-->
    <!--Second condition for immediate children-->

    <div style="">

        <a href="{{fileUpload.url}}">{{fileUpload.name}}</a><br/><br/>
        <button (click)="copyText(fileUpload.url)" style="margin-right: 10px;" class="btn btn-success">Share link</button>
        <button (click)="generateQR(fileUpload.url)" style="width: 200px;" class="btn btn-success">Share via QR-code</button>
        <button (click)='delete(fileUpload)' style="margin-top:10px;margin-bottom: 10px;" class="btn btn-danger">Delete</button>
        <br/>
        <button *ngIf="qr_flag" (click)="toggleQrFlag()" style="float: left;" class="close" aria-label="Close">
          <span aria-hidden="true" style="color: red;">&times;</span>
        </button>
        <div *ngIf="qr_flag" id="qr">

            <ngx-qrcode qrc-element-type="url" [qrc-value]="qr_url"></ngx-qrcode>

        </div>
    </div>

</div>
