<link href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<div>

    <ul>

        <li *ngFor="let note of notes;index as i">
            <ng-container *ngIf="note.owner==uname">
                <a (click)="link($event,note)" href="#">
                    <h2 *ngIf="!edit[i]">{{ note.title }}</h2>
                    <input *ngIf="edit[i]" type="text" [(ngModel)]="note.title">
                    <p *ngIf="!edit[i]">{{ note.text }}</p>
                    <textarea style="margin-top: 1em; columns: 20;" [(ngModel)]="note.text" *ngIf="edit[i]"></textarea>

                </a>
                <button *ngIf="edit[i]" (click)="save(note)" type="button" class="btn btn-save">Save</button>
                <button *ngIf="edit[i]" (click)="delete(note)" type="button" class="btn btn-delete">Delete</button>
            </ng-container>
        </li>
        <li>
            <a href="#" (click)="add($event)">
                <p style="text-align: center;padding: 1em;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i><br>
                    Click to add new note
                </p>
            </a>
        </li>
    </ul>
</div>