<div class="container-login" style="background-image: url('../../assets/pictures/clouda.jpg'); ">
    <div class="wrap-login text-center" style="padding : 30px 55px 30px 55px; ">


        <p class="sign-methods__link" (click)="onSignUp()">SignUp</p>
        <p class="sign-methods__link" (click)="onSignIn()">SignIn</p>


        <!-- User Sing up -->

        <div *ngIf="signstatus == 'signup'">

            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #email>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputContact1" placeholder="Contact No" #contactNo>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" #username>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
            </div>
            <div align="center">
                <button type="button" class="login-btn" (click)="singUpToAWS(email,contactNo,username,password)">Sign Up</button>
            </div>
        </div>

        <!-- User Sign In -->

        <div *ngIf="signstatus == 'signin'">

            <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #email>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">

                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
            </div>
            <div align="center">
                <button type="button" class="login-btn" (click)="signInToAWS(email, password)">Sign In</button>
            </div>
        </div>

        <!-- Email verification -->

        <div class="row row-center" *ngIf="toVerifyEmail">

            <div class="form-group">
                <label for="exampleInputverifycode1">Verifiacation Code</label>
                <input type="number" class="form-control" id="exampleInputverifycode1" aria-describedby="verifyCodeHelp" placeholder="Enter the code" #verifycode>
                <small id="emailHelp" class="form-text text-muted">Please enter the verification code that we sent to your email</small>
            </div>
            <button type="button" class="btn btn-success" (click)="onVerify(verifycode)">Verify</button>

        </div>

    </div>
</div>
