.wrapperhead {
    background-image: url(../../assets/pictures/digital-global-technology-banner-with-circuit-diagram_1017-17946.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: #f3f3f3;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.nav-brand p {
    padding: 5px;
    margin-bottom: 0;
}

.btn-2 {
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
    border: 3px solid blue;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    padding: 0;
}

.btn-2:hover {}

.uploadbutton:hover {
    background-color: #0033cc;
}

.wrapper {
    background-color: transparent;
    border-radius: 1rem;
    max-width: 600px;
    padding: 2rem;
    z-index: 1;
    top: 18%;
    left: 50%;
}

.uploadlink:hover {
    font-size: 25px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label.btn-1 {
    background-color: #0080ff;
    -webkit-transition: none;
    transition: none;
}

[type="file"]+label.btn-1:hover {
    background-color: #0066cc;
}

[type="file"]+label {
    background: #0080ff;
    border: none;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.6rem 30px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}