<div class="height:100px"></div>

<div class="desktop" style="width: 100%;">
    <img src="../../assets/pictures/network-4851079_1280.webp" style="width:100%;height:770px">


    <div style="margin-top:20px" class="animate seven text-center">
        <span>C</span><span>L</span><span>O</span><span>U</span>
        <span>D</span><span>D</span><span>R</span><span>I</span><span>V</span><span>E</span><span>N</span>

    </div>
    <div class="centered">
        <p>“I don’t need a hard disk in my computer if I can get to the server faster , carrying around these non-connected computers is byzantine by comparison.” </p>

    </div>
    <div class="centered1" style="margin-top: 25px;">

        <p>~ Steve Jobs, Co-founder, CEO and Chairman of Apple Inc.</p>
    </div>

</div>

<div class="footer" style="width:100%; margin-bottom: 0px;">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 text-center">
                <p style="color: white; margin-top:40px;font-size: 20px;">About Cloud</p>
                <ul style="font-size: 15px;color: white;list-style-type: none; padding-right: 100px;">
                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <p style="color: white; margin-top:40px;font-size: 20px;">Resources</p>
                <ul style="font-size: 15px;color: white;list-style-type: none; padding-right: 70px;">
                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <p style="color: white; margin-top:40px;font-size: 20px;">Contact</p>
                <ul style="font-size: 15px;color: white;list-style-type: none; padding-right: 50px;">
                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>

                    <li style="text-decoration:underline;">Events</li>
                </ul>
            </div>

        </div>
        <div class="text-center">
            <p style="font-size: 30px;font-weight: 500;padding-bottom:20px;color: white;background-color: #13263a;">Copyright</p>

        </div>
    </div>
</div>