<div style="height: 60px;"></div>
<div id="heightset" style="background-color:#dae6f1;width: 100%;height:auto;

height:700px !important;        /* for IE as it does not support min-height */
">
    <div style="width: 90%;margin:0 auto;background-color: #dae6f1;">
        <div class="wrapperhead " style="padding-top:50px;height: 300px;width: 100%;">

            <p style="position:sticky;color: white;font-size: 50px;text-transform:capitalize;text-align: center;top:40%;">{{ uname }}</p>
        </div>

        <div style="height: 38px;background-color: white;width: 100%;border: 1px solid #d9d9d9;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);"></div>

        <label class="hoverable text-center" for="fileInput" style="z-index: 2;">

                <img class="img-fluid"  *ngIf="!picflag" [src]="profile[1] ? profile[1].url : 'https://www.w3schools.com/howto/img_avatar.png'">
                <!-- <div *ngFor="let p of profile | async">
                <img *ngIf="!(p.name.endsWith('/'))"  [src]="p.url" >
              </div>  -->
                <img class="img-fluid" *ngIf="picflag" [src]='url'>

            <div class="background">
              <div class="hover-text text-center">Choose an Image</div></div>
              <input id="fileInput" type='file' (change)="onSelectFile($event)" accept="image/*">
            <div class="text-center" *ngIf="picflag" style="position: sticky; margin-top: 10px;z-index: 2;background-color: white;
            box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);">
             <button (click)="picflag=false" *ngIf="picflag" style="background-color:transparent;border:none;float:right;"> <i class="fa fa-window-close" aria-hidden="true"></i></button><br/><br/>

                <button *ngIf="picflag" class="btn-2 uploadbutton" style="width: 140px;" (click)="delete()">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>

                <button *ngIf="picflag" (click)="upload()" class="btn-2 uploadbutton" style="width: 140px;">Upload&nbsp;<i class="fa fa-upload"></i></button>
            </div>
        </label>
        <div class="text-center">
            <button class="free" style="z-index: 4;width:170px;height:40px;margin-top:50px" (click)="calculateSpace()">Free up Space</button>
        </div>
        <div *ngIf="sflag" style="width: 100%;height:600px;overflow-y:scroll;margin-top: 15px; background-color: white;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);">







            <div class="text-center">

                <google-chart *ngIf="sflag" id="chart" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
                </google-chart>
                <p *ngIf="sflag" style="text-align: center;font-size: 25px;font-weight: 600;"> {{ (space/1000) }} KB Used out of 5 GB </p>
            </div>



            <div style="display:block;margin-top:20px " *ngFor="let fileUpload of lst ">

                <div class="file text-center">
                    <img src="../../assets/pictures/file.png" style="width: 40px;height: 45px;border: none;box-shadow: none;">

                    <a href="{{fileUpload.url}}">{{fileUpload.name}} ({{fileUpload.size / 1000}} KB)</a> <button (click)='deleteFile(fileUpload)' style="margin-left:10px " class="btn btn-danger ">Delete</button>
                </div>







            </div>
            <div style="height:20px"></div>


        </div>






    </div>

    <div style="height: 20px;background-color: transparent; "></div>
</div>